table {
  border-collapse: collapse;
  width: 600px;
  height: 100px;
  /*自動斷行*/
  word-wrap: break-word;
  table-layout: fixed;
}
td {
  padding: 15px;
  text-align: left;
}
th {
  padding: 15px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
